*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: White;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("https://ww1.prweb.com/prfiles/2019/08/22/16524157/DSC_9795.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo {
  font-size: 25px;
  color: darkblue;
  text-decoration: none;
  font-weight: 600;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}
.navbar{
  flex: 1;
  text-align: right;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navbar ul li a{
  color: black;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  width: 0%;
  height: 2px; 
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}